<div class="row">
  <div data-ng-repeat="post in postList.postData | filterposts:filterTitle" >
    <div class="row post">
      <div class="row">
          <div class="col-sm-6">
            <edit-in-place type="date" value="post"></edit-in-place>
          </div>
        <div class="col-sm-6">
          <edit-in-place type="title" value="post"></edit-in-place>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <edit-in-place type="img" value="post"></edit-in-place>
        </div>
      </div>
      <div class="row padding-row">
        <div class="col-sm-6" data-ng-repeat="img in post.imgs">
          <div class="imgpreview">
            <a class="closelink" data-ng-click="blogData.deleteImage($index,post.id)"><i class="fa fa-times"></i></a>
            <img data-ng-src="{{img.src}}" width="300">
          </div>
        </div>
      </div>
    </div>
</div>
<div class="row padding row text-center">
  <pagination data-ng-hide="!postList.postData.length" total-items="postList.totalItems" data-ng-model="postList.currentPage" max-size="5" class="pagination-sm" boundary-links="true" rotate="false" data-ng-change="blogData.get(blogURL)"></pagination>
</div>
</div>
