<div class="row">
  <div data-ng-repeat="post in postList.postData">
    <div class="row post">
      <div class="row">
          <div class="col-sm-6">
            <edit-in-place type="date" value="post.timestamp"></edit-in-place>
          </div>
        <div class="col-sm-6">
          <span class="edittitle" data-ng-hide="editingtitle" ng-click="editingtitle=true" ng-bind="post.title"></span>
          <input data-ng-show="editingtitle"  class="form-control" type="text" data-ng-model="post.title" value="post.title" data-ng-blur="editingtitle=false">
        </div>
      </div>
      <div class="row padding-row">
        <div class="col-sm-6" data-ng-repeat="img in post.imgs">
          <div class="imgpreview"><img data-ng-src="{{img}}" width="300"></div>
        </div>
      </div>
    </div>
</div>
  <pagination total-items="postList.totalItems" ng-model="postList.currentPage" max-size="5" class="pagination-sm" boundary-links="true" rotate="false" ng-change="blogData.get()"></pagination>
</div>
